name: hyperbeam

services:
  hyperbeam-edge:
    build:
      context: .
      dockerfile: Dockerfile
    image: permaweb/hyperbeam:edge
    command: rebar3 as genesis_wasm shell
    ports:
      - "8734:8734"
    volumes:
      - hyperbeam-edge:/app/cache-mainnet
      - ./config.flat:/app/config.flat
      - ${WALLET_FILE}:/app/wallet.json
  hyperbeam-edge-ephemeral:
    build:
      context: .
      dockerfile: Dockerfile
    image: permaweb/hyperbeam:edge
    command: rebar3 as genesis_wasm shell
    ports:
      - "8734:8734"
    volumes:
      - ./config.flat:/app/config.flat
      - ${WALLET_FILE}:/app/wallet.json
  hyperbeam-beta3:
    build:
      context: .
      dockerfile: Dockerfile
    image: permaweb/hyperbeam:v0.9-milestone-3-beta-3
    command: rebar3 as genesis_wasm shell
    environment:
      - HB_GATEWAY="https://frostor.xyz"
    # entrypoint: ["/app/entrypoint.sh"]
    ports:
      # - "10000:10000"
      - "8734:8734"
    volumes:
      - hyperbeam-beta3:/app/cache-mainnet
      - ./config.flat:/app/config.flat
      - ${WALLET_FILE}:/app/wallet.json
      # - ${WALLET_FILE}:/app/hyperbeam-key.json
      # - ./docker-compose-entrypoint.sh:/app/entrypoint.sh
  hyperbeam-beta3-ephemeral:
    build:
      context: .
      dockerfile: Dockerfile
    image: permaweb/hyperbeam:v0.9-milestone-3-beta-3
    command: rebar3 as genesis_wasm shell
    ports:
      - "8734:8734"
    volumes:
      - ./config.flat:/app/config.flat
      - ${WALLET_FILE}:/app/wallet.json

volumes:
  hyperbeam-edge:
    driver: local
  hyperbeam-beta3:
    driver: local
